.home{
    min-height: 110vh;
    padding-top: 10%;
    .home__subtitle{
        color: $cyan;
        font-size: 18px;
        font-weight:$weight-title;
    }
    h1{
        span{
            color: #ccd6f6;
        }
        p{
            color: $slate;
        }
    }
    .home__icons{
        margin-top: 50px;
        font-size: 3rem;
        .home__contIcon{
            &:hover{
                animation:vibrate .5s infinite;
                transition: all .4s;
                transition-property: all;
                transition-duration: 0.4s;
                transition-timing-function: ease-out;
                transition-delay: 0s;
            }
            a{
                color: $white;
                &:hover{
                    color: $cyan;
                }
            }
        }
        
    }

    .home__img{
        img{
            animation: updown 3s linear infinite;
        }
        background: transparent;
    }
}

////////////////////////////////
//keyframes
////////////////////////////////

@keyframes vibrate{
    0%{transform:rotate(8deg) scale(1.04)
    }
    50%{transform:rotate(-8deg) scale(1.04)
    }
    100%{transform:rotate(8deg) scale(1.04)
    }
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
  }
