$project-border: 1.25rem;

.projects{
    min-height: 130vh;
    //background-color: gray;
    padding-top: 10%;
    background-attachment: fixed;
    .projects__title{
        margin-bottom: 80px;
    }
}