$lg: 992px;
$md: 767px;
$sm: 576px;
$xl: 1200px;
$xxl: 1400px;

@media all and (max-width: $xxl){
    
 }

 @media all and (max-width: $lg){
    @include contact-responsive-lg;
    @include bar-responsive-lg;
}

@media all and (min-width: $lg) and (max-width: $xl){
    @include project-responsive-lg;
}

@media all and (min-width:$md ) and (max-width: $lg){
    @include project-responsive-md;
}

@media all and (max-width: $md){
    @include customNavbar-responsive-md;
}

@media all and (min-width:$sm ) and (max-width: $md){
    @include project-responsive-sm;
}

@media all and (max-width: $sm){
////////////////////////////////
//1- Components
////////////////////////////////
@include project-responsive-xs;

@include footer-responsive-xs;


////////////////////////////////
//1- Section
////////////////////////////////
@include curriculum__responsive-sm;
@include home-responsive-xs;
////////////////////////////////
//2- Pages
////////////////////////////////
/// 
//3- variables
////////////////////////////////

}
