$lg: 992px;
$md: 767px;
$sm: 576px;
$xxl: 1400px;

@media all and (max-width: $xxl){
    
 }

@media all and (max-width: $lg){

}

@media all and (min-width:$md ) and (max-width: $lg){
    
}

@media all and (max-width: $md){

}

@media all and (min-width:$sm ) and (max-width: $md){
    
}

@media all and (max-width: $sm){
////////////////////////////////
//1- Components
////////////////////////////////



////////////////////////////////
//1- Section
////////////////////////////////

 ////////////////////////////////
//2- Pages
////////////////////////////////

}
