////////////////////////////////
//1- Patron de Colores
////////////////////////////////
$celestial-gradient: linear-gradient(157.81deg,#def9fa -43.27%,#bef3f5 -21.24%,#9dedf0 12.19%,
        #7de7eb 29.82%,#5ce1e6 51.94%,#33bbcf 90.29%);
$white-gradient: linear-gradient( 144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61% );
$gray: #ffffffb3;
$white: #ffffff;
$black: #00040f;
$cyan: #00d0ff;
$slate: #8892b0;
$gray-shadow: #424649;
////////////////////////////////
//Mi paleta de colores
////////////////////////////////

////////////////////////////////
//2- Modificando Variables Bootstrap
////////////////////////////////
$offcanvas-bg-color: $black;
$btn-close-color: $white;
//$carousel-indicator-active-bg: $black;


//$offcanvas-horizontal-width: 50vw;

////////////////////////////////
//2- Fonts
////////////////////////////////
$font: 'Poppins', sans-serif;
$weight-regular: 400;
$weight-title: 600;
$weight-bold: 700;


////////////////////////////////
//3- class
////////////////////////////////
.height-100{
    height: 100%;
}



////////////////////////////////
//4- mixins generals
////////////////////////////////
@mixin font-regular{
    font-family: $font;
    font-weight: $weight-regular;
}


@mixin background-cover-center{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
