////////////////////////////////
//1- Patron de Colores
////////////////////////////////

////////////////////////////////
//Mi paleta de colores
////////////////////////////////

////////////////////////////////
//2- Modificando Variables Bootstrap
////////////////////////////////


////////////////////////////////
//2- Fonts
////////////////////////////////


////////////////////////////////
//3- mixins generals
////////////////////////////////
@mixin background-cover-center{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
